<h1><%= post.get('totalVotes') %>
<a href="<%= post.linkURLOrFragment() %>"><%= post.escape('title') %></a>
<small>Submitted by <%= post.escape('authorUsername') %></small></h1>
<%= JST["voting_buttons"]({ post: post }) %><br>

&nbsp;

<% if (post.escape('body') !== "") { %>
	<ul class="list-group">
		<li class="list-group-item">
			<p><%= post.escape('body') %></p>
		</li>
	</ul>		
<% } %>

<% var currentUser = Clonnit.currentUser %>
<% if (currentUser && post.get('author_id') === currentUser['id']) { %>
	<a href="#/posts/<%= post.id %>/edit">Edit Post</a>
<% } %>

<h2><%= post.comments().length %> Comments</h2>
<form>
	<div class="form-group">

	  <textarea
			rows="4"
			name="comment[body]"
			class="form-control"></textarea>
		
		<button class="add-comment btn btn-primary">Add Comment</button>
	</div>
</form>

&nbsp;

<ul class="list-group">
	<% comments.each(function (comment) { %>
		<% if (!comment.get('parent_id')) { %>
			<li class="list-group-item">
			<p><b>Submitted by <%= comment.escape('authorUsername') %></b></p>
			<p><%= comment.escape('body') %></p>
			<%= JST['nested']({ comments: comments, parent: comment }) %></li>
		<% } %>
	<% }); %>
</ul>
<a href="#/subclons/<%= post.get('subclon_id') %>">
	Back to <%= Clonnit.Data.subclons.get(post.get('subclon_id')).escape('name') %>
</a>
