<h1>Edit Post</h1>
<form id="add-post">
	<div class="form-group">
		<label>Title</label>
		<input
		  type="text"
		  name="post[title]"
			class="form-control"
			value="<%= post.escape('title') %>">

		<label>Link URL</label>
		<input
			type="text"
			name="post[link_url]"
			class="form-control"
			value="<%= post.escape('link_url') %>">

		<label>Body</label>	
		<textarea
			name="post[body]"
			rows="4"
			class="form-control"><%= post.escape('body') %></textarea><br />

		<button class="edit-post btn btn-primary">Edit Post</button>
	</div>
</form>
<a href="#/subclons/<%= post.get('subclon_id') %>">
	Back to <%= post.escape('title') %>
</a>
