<h1><%= subclon.get('name') %> <small><a href="#/subclons/<%= subclon.id %>/posts/new">Add Post</a></small></h1>

<ul class="list-group">
	<% posts.each(function (post) { %>
		<li class="list-group-item"><h3><%= post.get('totalVotes') %>
		<a href="<%= post.linkURLOrFragment() %>"><%= post.escape('title') %></a>
		<small>Submitted by <%= post.escape('authorUsername') %>
		<a href="#/posts/<%= post.id %>">
			<%= post.comments().length %> Comments
		</a></small></h3>
		<%= JST["voting_buttons"]({ post: post }) %></li>
	<% }); %>
</ul>

<a href="#/">Back to main page</a>