<h1><%= subclon.get('name') %></h1>

<a href="#/subclons/<%= subclon.id %>/posts/new">Add Post</a><br />

<ul>
	<% posts.each(function (post) { %>
		<li><%= post.get('totalVotes') %>
		<a href="<%= post.linkURLOrFragment() %>"><%= post.get('title') %></a>
		<a href="#/posts/<%= post.id %>">Comments</a>
		<%= post.get('authorUsername') %>
		<%= JST["voting_buttons"]({ post: post }) %></li>
	<% }); %>
</ul>

<a href="#/">Back</a>