<!DOCTYPE html>
<html>
<head>
  <title>Clonnit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<% if !!current_user %>
		<script>
		Clonnit.currentUser = <%=
		current_user.to_json(only: [:username, :id]).html_safe
		%>
		</script>
	<% end %>
</head>
<body>

<div class="page-header">
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-10"> 
			<h1><a href="/#">Clonnit <small>A Reddit Clone</small></a></h1>
		</div>
	</div>
</div>

<%= yield %>

</body>
</html>
